player-connection-mode=Disabled
player-connection-debugger=Default
player-connection-project-name=HospitalRescueSimulator
player-connection-ip=
player-connection-obfuscate=
player-connection-cloud-hub=
player-connection wait-on-editor=no
player-connection-auto-accept=yes
player-connection-enable-cache-server=yes
player-connection-cache-path=
player-connection-check-interval=5
player-connection-force-network-access=no
player-connection-log-level=0
player-connection-deprecation-mode=0
